/*do remember to add root field to your own page*/
#hip_sidebar {
    z-index: 1;
    height: 100%;
    width: 150px;
    position: fixed;
    top: 117px;
    left: 200px;
    background-color: #EEF2B8;
    overflow-x: hidden;
    padding-top: 40px;
    /* border-radius: 0 15px 0 0; */
}
#hip_sidebar * {
    box-sizing: border-box;
}
#hip_screenButtons a {
    display: block;
    color: #131313;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
}
#hip_screenButtons a:hover {
      background-color: #D2D6A4;
}

#hip_content {
    position: relative;
    left: 150px;
}

hip_content * {
    z-index: -1;
}


/*Location screen*/
#hip_location_table {
    margin: 10px auto;
}

#hip_location_table * {
    box-sizing: border-box;
    border: 1px solid;
}

#hip_location_table {
    border-collapse: collapse;
}
#hip_location_table th, #hip_location_table td {
    text-align: left;
    padding: 15px;
}
#hip_location_table th {
    background: #D2D6A4;
}
#hip_location_table tbody tr:nth-child(2n+1) {
    background: #EEF2B8;
}
#hip_location_table tbody tr:nth-child(2n) {
    background: #EDEFD0;
}
#hip_location_table td.edit {
    background: #ff8;
}