/*do remember to add root field to your own page*/
#hip_sidebar {
    z-index: 1;
    height: 100%;
    max-width: 150px;
    position: fixed;
    top: 117px;
    left: 200px;
    background-color: #EEF2B8;
    overflow-x: hidden;
    padding-top: 40px;
    transition: max-width 0.3s;
    /* border-radius: 0 15px 0 0; */
}

#hip_sidebar:hover {
    max-width: 250px;
}
#hip_sidebar:hover::after {
    max-width: 150px;
}

#hip_sidebar * {
    box-sizing: border-box;
}

#hip_screenButtons a {
    display: block;
    color: #131313;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
}
#hip_screenButtons a:hover {
      background-color: #D2D6A4;
}

#hip_content {
    position: relative;
    left: 150px;
}

#hip_content * {
    z-index: -1;
}

.hip_screen button {
    background: #D2D6A4;
}

.hip_screen button:hover {
    background: #eef2b8;
}

/* Table styles */
.hip_table {
    margin: 10px 0;
}

.hip_table * {
    box-sizing: border-box;
    border: 1px solid;
}

.hip_table {
    border-collapse: collapse;
}

.hip_table th {
    text-align: center;
    padding: 5px;
}

.hip_table td {
    padding: 0;
}

.hip_table * input {
    background: none;
    border: none;
    padding: 15px;
    width: 100%;
}

.hip_table th {
    background: #D2D6A4;
}

.hip_table tbody tr:nth-child(2n+1) {
    background: #EEF2B8;
}

.hip_table tbody tr:nth-child(2n) {
    background: #EDEFD0;
}

.hip_table td.edit {
    background: #ff8;
}